.navContainer {
  background-color: var(--main-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notificationCount {
  pointer-events: none;
  color: #fff;
  position: absolute;
  top: -10px;
  font-weight: bold;
  left: -10px;
  background: red;
  height: 25px;
  width: 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notification {
  position: relative;
  svg {
    cursor: pointer;
    color: #fff;
    font-size: 28px;
  }
}

.list {
  li {
    margin: 0.25rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
}

.plusIcon {
  font-size: 24px;
}

.desktopList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.desktopList li {
  color: #fff;
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .desktopList {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    cursor: pointer;
    svg {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 12px;
      padding: 0.5rem;
      color: #fff;
      font-size: 40px;
      margin: 1rem;
      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
