.listItem {
  position: relative;
  cursor: pointer;
}

.subMenu {
  position: absolute;
  top: 50px;
  left: 0;
  background: #fff;
  z-index: 10;
  width: 200px;
  word-break: break-all;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 0.25rem;
      margin: 0.25rem 0 0.25rem 0;
      color: var(--main-text);
      font-weight: 400;
      &:hover {
        background-color: var(--border-color);
      }
    }
  }
}
