<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            background: #023047;
            color: #fFF;
        }

        a {
            border-radius: 20px;
            padding: 8px;
            background-color:  #219ebc;
            color: #FFF;
            text-decoration: none;
        }
    </style>
    </head>
<body>
  <br>
  <h2>Hi {{email}},</h2>
  <br>
        <p> Thanks for signing up to the FlixCave. Before we can continue, we need to validate your email address.</p> 
        <a href="http://localhost:3000/login/?token={{token}}">Verify Account</a>
  <br>
  <br>
  <br>
  <p>FlixCave</p>
</html>


