.container {
  flex-grow: 2;
  margin-left: 1rem;
}

.pagination {
  display: flex;
  margin: 1.5rem auto;
  justify-content: center;
  button {
    border: none;
    margin: 1rem;
    color: var(--main-text);
    background: none;
    cursor: pointer;
  }
  p {
    color: var(--main-text);
  }
}
