.container {
  background-image: url('../../images/join.png');
  background-size: cover;
  min-height: 100vh;
}

.row {
  display: flex;
  max-width: 1320px;
  margin: 2rem auto 2rem auto;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
