.container {
  position: relative;
}

.initialsContainer {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--main-teal);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  p {
    pointer-events: none;
  }
}

.menu {
  position: absolute;
  top: 50px;
  right: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: #fff;
  min-height: 300px;
  z-index: 5;
}

.menuHeader {
  padding: 0.25rem;
  background: var(--main-teal);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.menuHeaderContent {
  display: flex;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 0.25rem;
  }
  p {
    font-size: 0.8rem;
    margin: 0.1rem;
  }
}

.link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: var(--main-text);
  cursor: pointer;
  border-bottom: 1px solid #e3e3ec;
  &:hover {
    background: #e7e7ef;
  }
  a {
    font-size: 0.85rem;
    margin-left: 0.25rem;
  }

  p {
    font-size: 0.85rem;
    margin-left: 0.25rem;
  }
}
