.container {
  border-radius: var(--border-radius);
  background: #fbfbfb;
  margin: 2rem auto;
  width: 500px;
  padding: 0.25rem;
}

.totalComments {
  p {
    color: gray;
  }
}

.loadMore {
  text-align: center;
  button {
    color: gray;
    cursor: pointer;

    transition: all 0.25s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.commentsTrigger {
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: all 0.25s ease-out;
  &:hover {
    opacity: 0.8;
  }
  p {
    color: gray;
  }
}

.initials {
  border-radius: 50%;
  background: var(--main-teal);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
}

.resourceTitle {
  display: flex;
  justify-content: center;
  h3 {
    font-weight: bold;
    color: var(--main-text);
    font-size: 1.1rem;
  }
}

.resource {
  img {
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius);
  }
}

.stars {
  display: flex;
  margin-top: 0.25rem;
}

.body {
  margin-top: 1rem;
  p {
    color: var(--main-text);
    line-height: 1.6;
  }
}

.name {
  p {
    color: var(--main-text);
    font-weight: bold;
  }
}

.commentTrigger {
  margin: 1.5rem auto;
  border-top: 1px solid #d1d1d7;
  border-bottom: 1px solid #d1d1d7;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  color: gray;
  justify-content: center;
  cursor: pointer;
  svg {
    margin-right: 1rem;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
