.container {
  min-height: 100vh;
}

.btnContainer {
  align-self: center;
  button {
    background: var(--main-teal);
    color: #fff;
    padding: 0.2rem;
    height: 35px;
    border: none;
    border-radius: var(--border-radius);
    width: 120px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.content {
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 120px;
  }

  h3 {
    margin-left: 1rem;
  }
}

.listContainer {
  padding: 1rem;
}

.loadMore {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  button {
    background: var(--main-teal);
    color: #fff;
    padding: 0.2rem;
    height: 35px;
    border: none;
    border-radius: var(--border-radius);
    width: 300px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.listItem {
  border-radius: var(--border-radius);
  color: var(--main-text);

  &:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  padding: 0.25rem;
  margin: 1.2rem;
  display: flex;
  justify-content: space-between;
}
